<a href="https://colab.research.google.com/github/Roopashree3396/workshop-python-programming-exercises/blob/master/day2_session1_prog9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [2]:

t=[]
a=[]
n=int(input("enter num of employees: "))
for i in range(0,n):
  e=(input("enter name: "))
  j=float(input("enter salary: "))
  t.append(e)
  a.append(j)
m = [(t[i], a[i]) for i in range(0, len(t))]
print("input: ",m)
m.sort(key = lambda x: x[0])  
print("output",m)

enter num of employees: 2
enter name: roopa
enter salary: 50000
enter name: shree
enter salary: 60000
input:  [('roopa', 50000.0), ('shree', 60000.0)]
output [('roopa', 50000.0), ('shree', 60000.0)]